a.fc-col-header-cell-cushion {
    font-size: var(--fz-12);
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
}

.fc-h-event .fc-event-title {
    font-size: var(--fz-12);
    color: #de2626;
    padding: 2px 12px;
}

.fc-h-event {
    background-color: #fecaca;
    border: 1px solid  #fecaca;
}

.fc .fc-daygrid-day-number {
    font-size: var(--fz-12);
    color: #99a1a7;
}

.fc-day-other {
    background-image: url('../img/disable-calendar.svg');
    color: rgba(152, 160, 166, 0.6);
    background-color: #ffffff;
    cursor: not-allowed;
}

.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width)/2) solid #de2626; 
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    color: #de2626;
}

.fc-daygrid-dot-event .fc-event-title {
    color: #de2626;
}

.fc .fc-daygrid-more-link {
    color: #de2626;
}

.fc .fc-button-primary,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:hover {
    background-color: #fecaca!important;
    border-color: #fecaca!important;
    color: #de2626!important;
    box-shadow: 0 0 0 #fecaca!important;
    outline: none!important;
    border: #fecaca!important;
}

.fc .fc-toolbar-title {
    text-transform: uppercase;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    text-transform: capitalize;
}