/* Desktops and laptops Mini ----------- */
@media only screen and (min-width: 1199px) {
    .sidebarBody_heading {
        margin: 10px 0 4px;
        font-size: var(--fz-10);
    }
    .sidebarBody_settings-body {
        padding: 2px 4px;
    }
    .sidebarBody_settings-body i {
        font-size: var(--fz-12);
    }

    .sidebarBody_card-posts {
        height: 16px;
        -webkit-line-clamp: 1;
        font-size: var(--fz-10);
    }

    .card-title {
        font-size: var(--fz-12);
    }

    .mainSection_heading-title {
        font-size: var(--fz-18);
    }

    .style_table-4 th {
        font-size: var(--fz-12);
    }

    .style_table-4 td {
        font-size: var(--fz-10);
    }

    .mainSection_table th,
    .mainSection_table td,
    .mainSection_total-kpi,
    .sidebarBody_select-wrapper .actions-btn,
    .sidebarBody_select-wrapper
        .bootstrap-select.show-tick
        .dropdown-menu
        li
        a
        span.text,
    .sidebarBody_select-wrapper
        .bootstrap-select
        .dropdown-toggle
        .filter-option-inner-inner,
    .bs-actionsbox .actions-btn {
        font-size: var(--fz-10);
    }

    .dropdown-item,
    .style_table-3 th,
    .content_table-three-input,
    .action_table-btn,
    .mainSection_card,
    .sidebarBody_cardmini span,
    .sidebarBody_cardmini strong,
    .sidebarBody_card-body-subtitle-desc,
    .sidebarBody_card-body-subtitle,
    .aside-left th,
    .aside-right th,
    .aside-left td,
    .aside-right td,
    .main_search input {
        font-size: var(--fz-10);
    }
    .add-row-btn,
    .close-row-btn {
        font-size: var(--fz-12);
    }
    .header_menu-link {
        font-size: var(--fz-10);
        padding: 4px 6px;
    }
}

/* Desktops and laptops Medium ----------- */
@media only screen and (min-width: 1399px) {
    .sidebarBody_heading {
        margin: 10px 0 4px;
        font-size: var(--fz-10);
    }
    .sidebarBody_settings-body {
        padding: 2px 4px;
    }
    .sidebarBody_settings-body i {
        font-size: var(--fz-12);
    }

    .sidebarBody_card-posts {
        height: 16px;
        -webkit-line-clamp: 1;
        font-size: var(--fz-10);
    }

    .card-title {
        font-size: var(--fz-12);
    }

    .mainSection_heading-title {
        font-size: var(--fz-18);
    }

    .style_table-4 th {
        font-size: var(--fz-12);
    }

    .style_table-4 td {
        font-size: var(--fz-10);
    }

    .mainSection_table th,
    .mainSection_table td,
    .mainSection_total-kpi,
    .sidebarBody_select-wrapper .actions-btn,
    .sidebarBody_select-wrapper
        .bootstrap-select.show-tick
        .dropdown-menu
        li
        a
        span.text,
    .sidebarBody_select-wrapper
        .bootstrap-select
        .dropdown-toggle
        .filter-option-inner-inner,
    .bs-actionsbox .actions-btn {
        font-size: var(--fz-10);
    }

    .dropdown-item,
    .style_table-3 th,
    .content_table-three-input,
    .action_table-btn,
    .mainSection_card,
    .sidebarBody_cardmini span,
    .sidebarBody_cardmini strong,
    .sidebarBody_card-body-subtitle-desc,
    .sidebarBody_card-body-subtitle,
    .aside-left th,
    .aside-right th,
    .aside-left td,
    .aside-right td,
    .main_search input {
        font-size: var(--fz-10);
    }
    .add-row-btn,
    .close-row-btn {
        font-size: var(--fz-12);
    }
    .header_menu-link {
        font-size: var(--fz-12);
        padding: 7px 8px;
    }
}
/* Desktops and laptops Big ----------- */
@media only screen and (min-width: 1600px) {
    .sidebarBody_heading {
        margin: 12px 0 4px;
        font-size: var(--fz-12);
    }
    .sidebarBody_settings-body i {
        font-size: initial;
    }

    .bootstrap-select.show-tick .dropdown-menu li a span.text {
        font-size: var(--fz-12);
    }

    .sidebarBody_settings-body {
        padding: 6px 8px;
    }
    .sidebarBody_card-posts {
        height: 20px;
        -webkit-line-clamp: 1;
        font-size: var(--fz-12);
    }
    .aside-left th,
    .aside-right th,
    .aside-left td,
    .aside-right td,
    .sidebarBody_card-body-subtitle-desc,
    .sidebarBody_card-body-subtitle,
    .sidebarBody_cardmini span,
    .sidebarBody_cardmini strong,
    .mainSection_card {
        font-size: var(--fz-12);
    }

    .data_chart-items {
        padding-bottom: 10px;
    }
    .data_chart-items:last-child {
        padding-bottom: initial;
    }
    .card-title {
        font-size: var(--fz-14);
    }

    .mainSection_table th,
    .mainSection_table td,
    .main_search input,
    .mainSection_total-kpi,
    .sidebarBody_select-wrapper
        .bootstrap-select.show-tick
        .dropdown-menu
        li
        a
        span.text,
    .sidebarBody_select-wrapper .actions-btn,
    .bootstrap-select .dropdown-toggle .filter-option-inner-inner,
    .bootstrap-select .dropdown-toggle .filter-option-inner-inner,
    .dropdown-item,
    .style_table-3 th,
    .content_table-three-input,
    .action_table-btn {
        font-size: var(--fz-12);
    }

    .add-row-btn,
    .close-row-btn {
        font-size: var(--fz-16);
    }

    .mainSection_heading-title {
        font-size: var(--fz-20);
    }
    .style_table-4 th {
        font-size: var(--fz-14);
    }

    .style_table-4 td {
        font-size: var(--fz-12);
    }
    .aside-left,
    .aside-right {
        width: var(--width-sidebar);
    }
    .header_menu-link {
        font-size: var(--fz-12);
        padding: 7px 8px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {

    .mainSection_card,
    #mainSection_width {
        display: none!important;
    }

    .print_body {
        padding: 10px 20px; 
        margin: initial;
    }
    
    .aside-left, .aside-right {
        overflow: auto;
        padding-bottom: 60px;
    }

    .margin-t-res {
        margin-top: 10px;
    }

    .margin-b-res {
        margin-bottom: 10px;
    }

    .card-title,
    .mainSection_total-kpi {
        font-size: var(--fz-12);
    }

    .chart_wrapper {
        flex-direction: column;
    }
    
    .dataTables_top,
    .dataTables_bottom {
        display: block;
    }

    .dataTables_filter {
        margin-top: 10px;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .dataTables_length {
        padding-bottom: 10px;
    }

    .list_quota {
        margin-bottom: 10px;
    }
    .list_quota .table-responsive{
        padding-bottom: 10px;
    }

    .header_mobile-bars i {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 1.6rem;
    }

    .aside-left,
    .aside-right {
        display: none;
        height: 95vh;
        width: 100% !important;
    }

    .header_menu {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #mainWrap {
        margin-left: 0;
        margin-right: 0;
    }
    
    .header_actions-wrapper .header_actions-chat,
    .header_actions-wrapper .header_actions-notification {
        padding-right: 0px;
    }
    #btn-left,
    #btn-right,
    .header_menu {
        display: none;
    }

    .header_menu-list {
        position: fixed;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        background: var(--white-color);
        height: 88vh;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        z-index: 1;
        margin-top: 50px;
    }

    .header_menu-list .header_menu-item,
    .header_menu-link {
        text-align: left;
    }

    .header_menu-link {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .header_menu-link span {
        padding-left: 10px;
    }

    .header_menu-list > li > #header_submenu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background-color: #e7e7e7;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .header_menu-list > li:hover > #header_submenu {
        transform: translateX(10px);
        transition: initial;
    }

    .header_menu-list .header_menu-item {
        position: initial;
    }

    .header_menu-list > li:hover > #header_submenu .header_submenu-items {
        box-shadow: none;
    }
    .header_menu-list > li:hover > #header_submenu .header_submenu-items:hover {
        background-color: none;
    }
    .header_menu-list
        > li:hover
        > #header_submenu
        .header_submenu-items
        .header_submenu-link:hover {
        transition: 0.3s;
    }

    .more .header_more {
        position: initial;
        pointer-events: all;
        transform: translateX(10px) !important;
        opacity: 1;
        transition: initial!important;
    }

    #header_submenu,
    .header_more {
        display: none;
    }
/* 
    .action_wrapper {
        flex-direction: column;
    }
    .action_wrapper .action_export{
        margin-bottom: 10px;
    } */

    /* Menu bottom */
    .section_mobile-wrapper {
        position: fixed;
        display: flex;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--white-color-blur);
        box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        z-index: 9999;
    }

    .section_mobile-link {
        padding: 12px;
        display: block;
        font-size: var(--fz-18);
        color: var(--primary-color) !important;
    }

    .modal-dialog {
        margin-bottom: 100px;
    }
    .footer {
        margin-bottom: 50px;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
    .card_template-title.with_form, .card_template-mini.with_form {
        flex-direction: column;
    }
    .card_template-sub.with_input {
        padding-left: 0;
    }
}
